@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* -------GENERAL LAYOUT AND SIZING------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
}

#navbar li {
    flex-basis: 300px;
    margin: 0 5px;
    text-align: center;
}

#navbar a {
    padding: 20px;
    font-size: 1.25rem;
}

#hero-container {
    background-image: url(../images/hero-image-lpp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60vh;
}

#primary-navigation {
    justify-content: flex-end;
}

#hamburger-menu {
    display: none;
    width: 50px;
    height: auto;
    margin: 10px 0 10px 90vw;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1em 0;
    font-size: 10vw;
 }

h2 {
    height: 10vh;
    margin: 0 10vw;
    padding: 10vh 0;
    font-size: 2rem;
}

h3 {
    padding: 5px 0 0 60px;
}

#section1, 
#section2,
#section3,
#section4 {
    min-height: 100vh;
    height: auto;
}

#explainer {
    font-size: 1.25rem;
    text-align: center;
    height: 30vh;
    margin: 0;
    padding: 10px 20px 20px;
}

.section-description {
    padding: 0 10vw;
    max-height: 20vh;
}

#resource-link-section {
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
}

.resource-links {
    flex-basis: 25%;
    height: 40%;
    margin: 10vh 0 0;
    border-radius: .5rem;
}

.resource-container {
    margin-top: 5vh;
    flex-basis: 25%;
}

.resource-logo {
    width: 100%;
    border: 4px ridge grey;
}

#education-link-group-1,
#education-link-group-2 {
    display: flex;
    height: 30vh;
    width: 90vw;
    margin: 0 auto;
}

#education-link-group-1 {
    flex-direction: column;
    justify-content: space-between;
}

#education-link-group-2 {
    justify-content: space-around;
    margin-top: 10vh;
}

.course-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    margin: 10px;
}

.course-icon {
    width: 5vw;
    height: auto;
}

.course-icon-center {
    height: 100%;
    width: 100%;
}

.course-title {
    min-height: 3rem;
    font-size: 1.5rem;
    padding-left: 2.5vw;
    line-height: 4rem;
}

 #education-link-group-2 {
    justify-content: center;
    flex-basis: 99%;
}

.education-link-icons {
    flex-basis: 33%;
    text-align: center;
    padding: 100px 0;
}

.design-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}

.design-button-section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 10px;
    height: auto;
}

.design-button-section a {
    margin: 10px 5px;
    flex: 0 1 auto;
    border-radius: .25rem;
}

#project-card-container {
    height: 90vh;
}

li {
    list-style-type: none;
}

.header-border {
    border-top : 2px ;
}

#other-project-heading {
    margin-bottom: 40px;
}

#project-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10vw;
    justify-content: space-between;
    align-items: center;
}

.project-card {
    height: 80%;
    flex-basis: 460px;
    flex: 0 1 auto;
    width: auto;  
}

.project-card a {
    display: block;
    margin: 10px auto 0;
    text-align: center;
}

.project-img {
    display: block;
    height: 90%;
    width: auto;
    margin: 10px auto 0;
    border: 1px solid #a09ca6;
    border-radius: .5rem;
}

.project-icon {
    width: 25vw;
    height: auto;
}

#project-card-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 50vh;
    padding-top: 10vh;
}

#project-card-container-mobile a {
    width: 20vw;
    text-align: center;
}

.project-card-mobile {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}

/* -------FONTS AND COLORS------- */

html {
    background-color: black;
    color: #a09ca6;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: white;
    text-shadow: 0 0 10px #ffffff;
}

a { 
    text-decoration: none;
    color: #a09ca6;
    transition: color .2s ease;
}

a:hover {
    color: white;
}

#navbar {
    background-color: #00000099;
}

#navbar a {
    text-decoration: none;
    transition: color .2s ease-in;
}

#navbar a:hover {
    color: white;
    text-shadow: 0 0 4px white;
}

#navbar a.active {
    color: white;
    text-shadow: 0 0 4px white;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

#explainer {
    color: white;
}

#opening-section {
    background: linear-gradient(black, #23003d 90%)
}

#section1 {
    background: linear-gradient(#23003d, #2f003d )
}

#section2 {
    background: linear-gradient(#2f003d ,#34003d)
}

#section3 {
    background: linear-gradient(#34003d, #3d002c)
}

#section4 {
    background: linear-gradient(#3d002c, #3d0023)
}

#colors-and-fonts {
    background-color: #91127e60;
}

#icons-and-images { 
    background-color: #5b079260;
}

#validators {
    background-color: #364ebe60;
}

#colors-and-fonts a{
    border: 1px solid #7f106f;
    background: linear-gradient(#b5179e,#cb5dbb,#b5179e);
}

#icons-and-images a{
    border: #500680;
    background: linear-gradient(#7209b7, #9c53cd, #72097b);
}

#validators a{
    border: #2f44a7;
    background: linear-gradient(#4361ee, #7b90f3, #4361ee);
}

#colors-and-fonts a, 
#icons-and-images a,
#validators a {
    text-align: center;
    padding: 25px;
    font-size: 1.25rem;
    transition: all .2s ease;
}

#colors-and-fonts a:hover, 
#icons-and-images a:hover,
#validators a:hover {
    transform: translate(0, -4px);
    box-shadow: 0 4px 8px #00000060;
    color: white;
}

#github,
#codepen, 
#jsbin {
    font-size: 1.5rem;
}

.design-button-small,
.design-button-large {
    background: linear-gradient(#7a0058, #953379,#7a0058);
    border: 1px solid #55003e;
    border-radius: .5rem;
}

.subdivision {
    transition: 2s all ease;
    opacity: 0;
}

.subdivision.active {
    opacity: 1;
    color: white;
}

.navHighlighter {
    color: white;
    text-shadow: 0 0 10px #ffffff;
}

/* -------MEDIA QUERIES------- */

@media (max-width: 992px) {
    #project-card-container {
        display: none;
        }
    .project-icon {
        width: 10vw;
        height: auto;
    }
}

@media (max-width: 768px) {
    .project-icon {
        width: 15vw;
        height: auto;
    }
    #explainer {
        line-height: 150%;
    }
}

@media (max-width:600px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        position: absolute;
        width: 100%;
        height: 19vh;
        background-color: #000000;
        opacity: .75;
    }
    #navbar li {
        /* border: 1px solid white; */
        height: 25%;
    }
    #navbar a {
        color: white;
    }
    #hero-container {
        height: 40vh;
    }
    #explainer {
        height: 60vh;
        font-size: 18px;
    }
    #hamburger-menu {
        display: block;
        border: 1px ;
    }
    .course-title {
        font-size: 1rem;
    }
    #education-link-group-2{
        flex-direction: column;
    }
    .resource-container {
        margin-top: 10vh;
    }
}

@media (max-width: 500px) {
    
    #education-link-group-1 {
        margin-top: 5vh ;
    }
    .course-title {
        min-height: 2rem;
        line-height: 2rem;
    }
}

@media (min-width: 992px) {
    #project-card-container-mobile {
        display: none;
    }
}
